.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
}

.pokeball{
    padding: 0;
    margin: 20px;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    transform: rotate(360deg);
    transition-duration: 1s;
    transition-delay: now;
    animation-timing-function: linear;
    animation-iteration-count: infinite 1s;
}
.pokeball:hover{
    transform: rotate(0deg) scale(1.2);
    transition-duration: 1s;
    transition-delay: now;
    animation-timing-function: linear;
    animation-iteration-count: infinite 1s;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.link-btn{
    margin: 0;
    padding: 0;
}